@import './variables';

body, ul {
    background: $noColor;
    padding: 0px;
    margin: 0px;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 99vw;
    height: 99vh;
    padding: 5px;
    max-width: 1100px !important;

    .space {
        list-style: none;
        width: 100% / 8;
        border-radius: 8px;
        position: relative;
        &.white-black:nth-child(odd) {
            background: $noColor;
        }
        &.white-black:nth-child(even) {
            background: $color;
        }

        &.black-white:nth-child(even) {
            background: $noColor;
        }
        &.black-white:nth-child(odd) {
            background: $color;
        }

        &.white,
        &.black {
            cursor: pointer;
            &::after {
                content: '';
                border-radius: 50%;
                width: 50%;
                height: 50%;
                display: block;
                position: absolute;
                left: 25%;
                top: 25%;
            }
            &:hover {
                opacity: .8;
            }
        }

        &.white {
            &::after {
                background: $white;
            }
            &.selected::after {
                background: mix($white, $selected, $weight: 60%);
            }
        }
        &.black {
            &::after {
                background: $black;
            }
            &.selected::after {
                background: mix($black, $selected, $weight: 60%);
            }
        }

        &.highlight {
            background: lighten($color: $color, $amount: 10) !important;
            cursor: pointer;
        }
    }
}